<!DOCTYPE html>
<html>
    <head>
        <title><%= ttitle %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <form method="POST" action="/data">
            <input type="text" name="texto" placeholder="escreva algo aqui"/>
        </form>
    </body>
</html>