<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Random Title</title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/seman">
        <style> body { padding:50px; } </style> 
    </head> 

    <body class="container"> 
    <header> 
        <div class="ui inverted menu"> 
        <a class="item" href="/">Home</a> 