<%- include('./partials/header') %> 
    <main> 
        <div class="ui segment"> 
            <h1>About Route</h1> 
            <p>Ultra hiper blaster mega cool site</p> 
        </div> 
    </main> 
<%- include('./partials/footer') %> 
</body> 
</html>