<%- include('./partials/header') %> 
    <main> 
        <div class="ui segment"> 
            <h1>Data Route</h1> 
            <form method="POST" action="/data">
                <input type="text" name="texto" placeholder="escreva algo aqui"/>
            </form>
        </div> 
    </main> 
<%- include('./partials/footer') %> 
</body> 
</html>

