<%- include('./partials/header') %> 
    <main> 
        <div class="ui segment"> 
            <h1>Signup Route</h1> 
            <p>Inscreva-se</p> 
        </div> 
    </main> 
<%- include('./partials/footer') %> 
</body> 
</html>