<%- include('./partials/header') %> 
    <main> 
        <div class="ui segment"> 
            <h1>Usuários</h1> 
            <p>Você é <%= tipoDeUsuario %></p> 
        </div> 
    </main> 
<%- include('./partials/footer') %> 
</body> 
</html>